#main-title {
	color:#ff6625;
}

#landing-icon {
	color:#ff6625;
}

#top-boss-row {
	margin-bottom:50px;
}

.recruitment-bottom {
	margin-top:50px;
}

.vertical-space  {
	margin-top:50px;
}
.black-text {
  color:#000;
}
.apply-btn {
    font-size:24px;
}
